@import "colors";

#grid {
  position: relative;
  clear: both;
  display: inline-block;
  border: 5px solid @color-border;
  border-radius: 15px;
  padding: 0px 5px;
  .col {
    float: left;
    .cell {
      clear: both;
      background-color: @color-disabled;
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 10px 5px;
      border-radius: 5px;
    }
    .alive {
      background-color: @color-enabled;
      box-shadow: 0 0 5px 1px @color-enabled;
    }
  }
  .active {
    .cell {
      box-shadow: 0 0 5px 1px @color-disabled;
    }
    .alive {
      box-shadow: 0 0 5px 4px @color-enabled;
    }
  }
}